/*----------------------------------------------------------------------------*/
/*                                 CART PAGE                                  */
/*----------------------------------------------------------------------------*/

/**/
/* cart */
/**/
.cart table {
	width: 100%;
	border-collapse: collapse;
}
.cart thead th {
	padding-right: 18px;
	font-size: 10px;
	line-height: 36px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
} 
.cart thead th:last-child {
	text-align: right;
}
.cart tbody td {
	padding: 0px 18px 0px 0;
	border-top: 2px solid #444;
	vertical-align: middle;
}
.cart tbody td:first-child {
	width: 80px;
	padding-left: 18px;
}
.cart tbody h3 {
	height: 20px;
	font-size: 20px;
	line-height: 80px;
}
.cart tbody h3:before {
	content: ' ';
	display: block;
	float: right;
	width: 1px;
	height: 80px;
	background: #e5e5e5;
}
.cart tbody dl {
	font-size: 13px;
	line-height: 80px;
}
.cart tbody dl:before {
	content: ' ';
	display: block;
	float: right;
	width: 1px;
	height:80px;
	background: #e5e5e5;
}
.cart tbody dt {
	float: left;
	margin-right: 0.3em;
	font-weight: 700;
}
.cart tbody .pic {
	display: block;
	width: 80px;
	height: 80px;
	font-size: 0;
	text-align: center;
}
.cart tbody .pic img {
	max-width: 80px;
	max-height: 80px;
}
.cart tbody .delete {
	font-size: 11px;
	line-height: 18px;
}
.cart tbody .delete a {
	text-decoration: underline;
}
.cart tbody .delete a:hover {
	text-decoration: none;
}
.cart tbody .change {
	display: block;
	float: left;
	margin-top: 12px;
	padding: 0 8px;
	border-radius: 3px;
	background: #d9d9d9;
	font-size: 10px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.cart tbody .price {
	font-size: 18px;
	font-weight: 700;
	text-align: right;
}
.cart .clearfix {
	margin-top: 18px;
	padding-top: 17px;
	border-top: 2px dashed #444;
}
.cart .clearfix dl {
	padding: 0 18px 9px;
	font-size: 13px;
	line-height: 80px;
}
.cart .clearfix dt {
	float: right;
	font-size: 16px;
	font-weight: 700;
}
.cart .clearfix dd {
	padding-bottom: 9px;
}
.cart .clearfix .input {
	width: 190px;
}
.cart .clearfix .right-col {
	float: right;
	width: 336px;
}
.cart .clearfix .discount {
	color: #0d6e1a;
}
.cart .clearfix .total {
	padding: 33px 18px 36px 0;
	border-top: 3px solid #3d3d3d;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	text-align: right;
              float: right;
}
.cart .payment-nav {
float: left;
margin: 0;
text-align: left;
}
.cart .payment-nav li:first-child {
	/*visibility: hidden;*/
	height: 19px;
	line-height: 18px;
	margin: 0;
}
.cart .payment-nav li:last-child {
    height: 19px;
    line-height: 18px;
    display: block;
    padding-top: 10px;
}
.cart footer {
	height: 48px;
	margin-bottom: 54px;
}
.cart footer .button-secondary {
	float: left;
}

/**/
/* payment nav */
/**/
.payment-nav {
	margin-top: 36px;
}
.payment-nav li {
	display: inline-block;
	margin-right: 10px;
}
.payment-nav li:first-child {
	display: block;
	margin-bottom: 12px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 24px;
}


/**/
/* copyrights */
/**/
.copyrights {
	/*margin-top: 24px;*/
	font-size: 11px;
	line-height: 18px;
}
.subtot{font-size:18px}
#dele{width:20px;}
#cancel{background:#e23f44!important;margin-left:20px;}
@media (max-width: 480px){
    .cart tbody td:first-child {
        width: 64px;
    padding-left: 0px;
}
.cart tbody .pic img {max-width: 69px;
    max-height:69px;}
.cart tbody td {padding: 0px;}
#nom_prod{ font-size: 10px;}
#descrip{display: none;}
.cart tbody .price{font-size: 10px;} 
.subtot{font-size:11px}
#dele{width:8px;}
.cart tbody .pic {
    width: 69px;
    height:69px;
}
.button-secondary{width:100%;}
#cancel{margin-left:0px;margin-top: 8px;width:100%!important;}
.button_cart{ 
    float: left !important;
    margin-top: 8px;
    width:100%!important;
}
}
@media (max-width: 320px){
    
}