
/**/
/* icons */
/**/
@font-face
{
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont3294.eot?v=3.0.1');
	src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('../fonts/fontawesome-webfont3294.woff?v=3.0.1') format('woff'),
	url('../fonts/fontawesome-webfont3294.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before,
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before,
.icon-mail-forward:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone {
	margin-top: 1px;
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before,
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-file-alt:before {
  content: "\f0f6";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-sign:before {
  content: "\f0fd";
}
.icon-plus-sign-alt:before {
  content: "\f0fe";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-blank:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-reply:before,
.icon-mail-reply:before {
  content: "\f112";
}
.icon-folder-close-alt:before {
  content: "\f114";
}
.icon-folder-open-alt:before {
  content: "\f115";
}
.icon-expand-alt:before {
  content: "\f116";
}
.icon-collapse-alt:before {
  content: "\f117";
}
.icon-smile:before {
  content: "\f118";
}
.icon-frown:before {
  content: "\f119";
}
.icon-meh:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard:before {
  content: "\f11c";
}
.icon-flag-alt:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-question:before {
  content: "\f128";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-off:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-empty:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-sign-left:before {
  content: "\f137";
}
.icon-chevron-sign-right:before {
  content: "\f138";
}
.icon-chevron-sign-up:before {
  content: "\f139";
}
.icon-chevron-sign-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-horizontal:before {
  content: "\f141";
}
.icon-ellipsis-vertical:before {
  content: "\f142";
}
.icon-rss-sign:before {
  content: "\f143";
}
.icon-play-sign:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-sign-alt:before {
  content: "\f146";
}
.icon-check-minus:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-sign:before {
  content: "\f14a";
}
.icon-edit-sign:before {
  content: "\f14b";
}
.icon-external-link-sign:before {
  content: "\f14c";
}
.icon-share-sign:before {
  content: "\f14d";
}


/**/
/* forms */
/**/
.input,
.select,
.textarea,
.radio,
.checkbox,
.button {
	position: relative;
	display: block;
}
.input input,
.select select,
.textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 36px;
	padding: 6px 10px 5px;
	border: 1px solid #c3c3c3;
	border-radius: 3px;
	background: #fff;
	font-size: 14px;
	line-height: 19px;
	color: #3d3d3d;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.select i {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	border-top: 5px solid #3d3d3d;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
}
.textarea textarea {
	height: auto;
	resize: none;
}
.radio,
.checkbox {
	font-size: 14px;
	/*line-height: 30px;*/
	padding-left: 26px;
	cursor: pointer;
}
.radio input,
.checkbox input {
	position: absolute;
	left: -9999px;
}
.radio i,
.checkbox i {
	position: absolute;
	top: 7px;
	left: 0;
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid #808080;
	border-radius: 50%;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.checkbox i {
	border-radius: 3px;
}
.radio input:checked + i:after,
.checkbox input:checked + i:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	border-radius: 50%;
	background: #333;
}
.checkbox input:checked + i:after {
	content: '\2713';
	width: 14px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: none;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #333;
}
.rating {
	font-size: 11px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}
.rating input {
	position: absolute;
	left: -9999px;
}
.rating label {
	display: block;
	float: right;
	height: 18px;
	margin-top: 8px;
	padding: 0 1px;
	font-size: 18px;
	line-height: 18px;
	color: #939393;
	cursor: pointer;
}
.rating input + label:hover,
.rating input + label:hover ~ label,
.rating input:checked ~ label {
	color: #c40303;
}
.button {
	float: right;
	height: 48px;
	padding: 0 36px;
	border-radius: 4px;
	background: #333;
	/*font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', 'Helvetica Neue', 'Helvetica', 'Arial Narrow', Arial, sans-serif;*/
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	font-stretch: condensed;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
.button:hover {
	/*background: #000;*/
	text-decoration: none;
}
.button-small {
	height: 36px;
	padding: 0 24px;
	line-height: 36px;
}
.button-secondary {
	background: #009dd9;
	color: #fff;
}
.button-secondary:hover {
	background: #009dd9;
}
.label {
	display: block;
	font-size: 11px;
	line-height: 36px;
	font-weight: 700;
	/*text-transform: uppercase;*/
	color: #000;
                text-align: left;
}
.label span {
	color: #f00000;
}

.form .intro {
	margin-bottom: 18px;
	font-size: 15px;
	line-height: 18px;
}
.form .input,
.form .select,
.form .textarea,
.form .section {
	margin-bottom: 18px;	
}
.form .radio,
.form .checkbox {
	float: left;
	margin: 0 36px 0 0;
}


/**/
/* pics */
/**/
.pic {
	display: block;
	font-size: 0;
	text-align: center;
}
.pic img {
/*	max-width: 100%;
	max-height: 100%;*/
              max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
}


/**/
/* colors */
/**/
.color-white {
	background: #fff;
	color: #fff;
}
.color-red {
	background: red;
	color: red;
}
.color-orange {
	background: #f95900;
	color: #f95900;
}
.color-yellow {
	background: #f9d300;
	color: #f9d300;
}
.color-green {
	background: #446816;
	color: #446816;
}
.color-cyan {
	background: #c5e2ed;
	color: #c5e2ed;
}
.color-blue {
	background: #7f9db0;
	color: #7f9db0;
}
.color-purple {
	background: #9256bc;
	color: #9256bc;
}
.color-pink {
	background: #e651ba;
	color: #e651ba;
}
.color-black {
	background: #000;
	color: #000;
}




/*----------------------------------------------------------------------------*/
/*                               CHECKOUT PAGE                                */
/*----------------------------------------------------------------------------*/

/**/
/* checkout */
/**/
.checkout {
	float: left;
	/*width: 654px;*/
              width:75%;
	margin-bottom: 18px;
	/*padding-left: 66px;*/
	border-bottom: 1px dashed #bfbfbf;
}
.checkout h2 {
	position: relative;
	margin: 0px;
	font-size: 24px;
	line-height: 54px;
	font-weight: 700;
	cursor: pointer;
              color:#fff;
              padding-left: 90px;
              -webkit-box-shadow: 0 8px 6px -6px black;
              -moz-box-shadow: 0 8px 6px -6px black;
              box-shadow: 0 8px 6px -6px black;
              text-align: left;
}
.checkout h2 span {
	position: absolute;
	/*top: 7px;*/
	left: -1px;
	display: block;
/*	width: 40px;
	height: 40px;*/
	/*border-radius: 50%;*/
	background: #7c7c7c;
	/*line-height: 40px;*/     
	width: 66px;
	height: 54px;	
	line-height: 54px;	
	text-align: center;
	color: #fff;
/*	transition: background 0.3s;
	-o-transition: background 0.3s;
	-ms-transition: background 0.35s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;*/
}
.checkout .active span {
	background: #000;
}
.checkout .reg-info {
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 17px;
}
.checkout .form {
	display: none;
	padding-bottom: 54px;
              background:#fff;
}
.checkout .col {
	float: right;
	width: 318px;
}
.checkout .col:first-child {
	float: left;
}
.checkout .col h3 {
	margin-bottom: 18px;
	border-bottom: 1px solid #282828;
	font-size: 13px;
	line-height: 35px;
	font-weight: 700;
	text-transform: uppercase;
}
.checkout .button {
	margin-top: 18px;
}
.checkout .select-month {
	float: left;
	width: 200px;
}
.checkout .select-year {
	float: right;
	width: 112px;
}
.checkout .input-cvv {
	float: left;
	width: 150px;
	margin-right: 18px;
}
.checkout .what-is-cvv {
	position: relative;
}
.checkout .what-is-cvv dt {
	float: left;
	margin-top: 10px;
	font-size: 12px;
	line-height: 16px;
	text-decoration: underline;
	cursor: pointer;
}
.checkout .what-is-cvv dt:hover {
	text-decoration: none;
}
.checkout .what-is-cvv dd {
	position: absolute;
	z-index: 1;
	top: 42px;
	right: 0px;
	display: none;
	padding: 50px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
}
.checkout .what-is-cvv dd i {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 18px;
	height: 18px;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
}
.checkout .what-is-cvv dd .label {
	position: absolute;
	top: 16px;
	left: 18px;
	line-height: 18px;
}
.checkout-cart {
	margin-bottom: 0;
	border-bottom: 0;
}
.checkout-cart .form {
	padding-bottom: 0;
}
.checkout-cart .button {
	margin-top: 0;
}


/**/
/* checkout progress */
/**/
.checkout-progress {
	float: right;
	/*width: 198px;*/
              width: 23%;
	/*padding: 18px;*/
	/*border-radius: 4px;*/
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
}
.checkout-progress header {
	/*padding: 18px;*/
	/*margin: -18px -18px 0;*/
	/*border-radius: 4px 4px 0 0;*/
	/*background: #282828;*/
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.checkout-progress dl {
	padding: 0 18px;
              margin-left: 10px;
}
.checkout-progress dt {
	position: relative;
	margin: 18px 0 6px;
	font-size: 13px;
	line-height: 18px;
	color: #000;
              text-align: left;
}
.checkout-progress dt:after {
	content: '';
	position: absolute;
	top: 0;
	left: -16px;
	width: 4px;
	height: 4px;
	margin: 7px 7px 0 0;
	border-radius: 50%;
	background: #c40303;
}
.checkout-progress dt a {
	display: block;
	float: right;
	font-size: 11px;
	font-weight: 400;
	text-decoration: underline;
}
.checkout-progress dt a:hover {
	text-decoration: none;
}
.checkout-progress dd {
	font-size: 13px;
	line-height: 18px;
	color: #5f5f5f;
}
.checkout-progress .filled {	
	font-weight: 700;
}
.checkout-progress .filled:after {
	left: -18px;
	width: 8px;
	height: 8px;
	margin: 4px 5px 0 0;
}


/**/
/* cart summary */
/**/
.cart-summary {
	position: relative;
	z-index: 12;
	float: right;
	margin: 18px 0 0 36px;
          color:#ffa800;
}
.cart-summary dt {
	font-size: 11px;
	line-height: 18px;
	font-weight: 700;
}
.cart-summary dt a {
	font-weight: 400;
	text-decoration: underline;
              color:#ffa800;
}
.cart-summary dt a:hover {
	text-decoration: none;
}
.cart-summary dd {
	position: absolute;
	z-index: -1;
	top: -9px;
	right: -18px;
	display: none;
	width: 326px;
	padding: 36px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	text-align: center;
	color: #262626;
}
.cart-summary li {
	margin: 0 -18px;
	padding: 18px;
	border-top: 1px dashed #bfbfbf;
	line-height: 18px;
	text-align: left;
	color: #3d3d3d;
}
.cart-summary h3 {
	margin-bottom: 9px;
	font-size: 13px;
}
.cart-summary p {
	font-size: 12px;
}
.cart-summary p i {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 12px;
	height: 5px;
	margin: 0 5px 0 6px;
}
.cart-summary p i:after {
	content: ' ';
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	width: 14px;
	height: 7px;
	border: 1px solid #a6a6a6;
}
.cart-summary p span {
	font-weight: 700;
}
.cart-summary .pic {
	float: left;
	width: 108px;
	height: 108px;
	margin-right: 18px;
	line-height: 108px;
}
.cart-summary .icon-remove {
	display: block;
	float: right;
	margin-left: 6px;
	font-size: 16px;
	line-height: 18px;
	color: #c40303;
}
.cart-summary .icon-remove:hover {
	text-decoration: none;
	color: #000;
}
.cart-summary .price {
	margin-bottom: 9px;
	font-size: 16px;
	font-weight: 700;	
}
.cart-summary .button {
	width: 176px;
	padding: 0;
}
.cart-summary .button-secondary {
	float: left;
	width: 108px;
}
.cart-summary .empty {
	display: none;
	margin: 0 -18px;
	padding: 24px 0 6px;
	border-top: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	color: #c40303;
}
.cart-summary .total {
	margin: 0 -18px 18px;
	padding: 18px 0 18px 144px;
	border-top: 1px dashed #bfbfbf;
	border-bottom: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: left;
}


/**/
/* wish list summary */
/**/
.wish-list-summary {
	position: relative;
	z-index: 11;
	float: right;
	margin: 18px 0 0 72px;
              color:#ffa800;
}
.wish-list-summary dt {
	font-size: 11px;
	line-height: 18px;
	font-weight: 700;
}
.wish-list-summary dt a {
	font-weight: 400;
	text-decoration: underline;
               color:#ffa800;
}
.wish-list-summary dt a:hover {
	text-decoration: none;
}
.wish-list-summary dd {
	position: absolute;
	z-index: -1;
	top: -9px;
	right: -18px;
	display: none;
	width: 326px;
	padding: 36px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	text-align: center;
	color: #262626;
}
.wish-list-summary li {
	margin: 0 -18px;
	padding: 18px;
	border-top: 1px dashed #bfbfbf;
	line-height: 18px;
	text-align: left;
	color: #3d3d3d;
}
.wish-list-summary h3 {
	margin-bottom: 9px;
	font-size: 13px;
}
.wish-list-summary p {
	font-size: 12px;
}
.wish-list-summary p i {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 12px;
	height: 5px;
	margin: 0 5px 0 6px;
}
.wish-list-summary p i:after {
	content: ' ';
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	width: 14px;
	height: 7px;
	border: 1px solid #a6a6a6;
}
.wish-list-summary p span {
	font-weight: 700;
}
.wish-list-summary .pic {
	float: left;
	width: 108px;
	height: 108px;
	margin-right: 18px;
	line-height: 108px;
}
.wish-list-summary .icon-remove,
.wish-list-summary .icon-share-alt {
	display: block;
	float: right;
	height: 18px;
	margin-left: 9px;
	font-size: 16px;
	line-height: 18px;
	color: #c40303;
}
.wish-list-summary .icon-share-alt {
	font-size: 12px;
	line-height: 20px;
}
.wish-list-summary .icon-remove:hover,
.wish-list-summary .icon-share-alt:hover {
	text-decoration: none;
	color: #000;
}
.wish-list-summary .price {
	margin-bottom: 9px;
	font-size: 16px;
	font-weight: 700;	
}
.wish-list-summary .empty {
	display: none;
	margin: 0 -18px;
	padding: 24px 0 6px;
	border-top: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	color: #c40303;
}
.wish-list-summary .share {
	margin: 18px -18px 0;
	padding: 24px 18px 6px 18px;
	border-top: 1px dashed #bfbfbf;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: left;
}
.wish-list-summary .share a {
	display: block;
	float: right;
	margin-left: 8px;
	font-size: 17px;
	line-height: 18px;
}
.wish-list-summary .share a:hover {
	text-decoration: none;
}
.wish-list-summary .share a:hover .icon-facebook-sign {
	color: #0e498c;
}
.wish-list-summary .share a:hover .icon-twitter {
	color: #0d9edb;
}
.wish-list-summary .share a:hover .icon-google-plus-sign {
	color: #c03818;
}
.wish-list-summary .share a:hover .icon-pinterest {
	color: #cc0505;
}


/**/
/* login popup */
/**/
.login-popup {
	position: relative;
	z-index: 10;
	float: right;
	margin: 18px 0 0 36px;
            color:#ffa800;
}
.login-popup dt {
	padding-left: 6px;
	font-size: 11px;
	line-height: 18px;
	text-decoration: underline;
	cursor: pointer;
}
.login-popup dt:hover {
	text-decoration: none;
}
.login-popup dt i {
	position: absolute;
	top: 1px;
	right: 100%;
	font-size: 16px;
}
.login-popup dd {
	position: absolute;
	z-index: -1;
	top: -9px;
	right: -18px;
	display: none;
	width: 326px;
	padding: 36px 18px 18px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	color: #262626;
}
.login-popup dd .intro {
	margin: 0 -18px;
	padding: 18px;
	border-top: 1px dashed #bfbfbf;
	font-size: 13px;
	line-height: 18px;
}
.login-popup dd .button-twitter,
.login-popup dd .button-facebook {
	float: none;
	height: 42px;
	margin-bottom: 18px;
	padding-left: 42px;	
	line-height: 42px;
}
.login-popup dd .button-twitter {
	background: #0d9edb;
}
.login-popup dd .button-facebook {
	background: #3b5998;
}
.login-popup dd .button-twitter:hover {
	background: #0a79a8;
}
.login-popup dd .button-facebook:hover {
	background: #283b66;
}
.login-popup dd .button-twitter i,
.login-popup dd .button-facebook i {
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	border-right: 1px solid rgba(0,0,0,.1);
	font-size: 22px;
	line-height: 44px;
	text-align: center;
	color: #fff;
}
.login-popup dd .ors {
	position: relative;
	margin: 30px -18px;
	border-top: 1px dashed #bfbfbf;	
}
.login-popup dd .ors:after {
	content: 'OR';
	position: absolute;
	top: 0;
	left: 50%;
	width: 48px;
	height: 18px;
	margin: -10px 0 0 -24px;
	background: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1px;
	color: #000;
}
.login-popup dd .forgot {
	float: left;
	margin-top: 4px;
	font-size: 11px;
	line-height: 14px;
	overflow: hidden;
	white-space: nowrap;
}
.login-popup dd .forgot a {
	text-decoration: underline;
	color: #5e5e5e;
}
.login-popup dd .forgot a:hover {
	text-decoration: none;
}


/**/
/* help */
/**/
.help {
	position: absolute;
	z-index: 11;
	top: 18px;
	left: 0;
}
.help dt {
	position: relative;
	z-index: 12;
	padding: 0 11px 0 22px;
	font-size: 11px;
	line-height: 18px;
	font-weight: 700;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.help dt:after {
	content: ' ';
	position: absolute;
	right: 0;
	top: 8px;
	display: block;
	border-top: 3px solid #bfbfbf;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}
.help dt:before {
	content: '?';
	position: absolute;
	top: 1px;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #262626;
	font-size: 10px;
	line-height: 16px;
	font-weight: 400;
	text-align: center;
	color: #fff;
}
.help dt:hover {
	text-decoration: underline;
}
.help dd {
	position: absolute;
	z-index: 11;
	top: -9px;
	left: -18px;
	display: none;
	width: 260px;
	padding-top: 36px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	color: #262626;
}
.help ul {
	padding: 13px 18px;
	border-top: 1px dashed #bfbfbf;
}
.help li {	
	padding: 5px 0;
	font-size: 11px;
	line-height: 15px;
}
.help li:first-child {
	margin-bottom: 6px;
	font-weight: 700;
	text-transform: uppercase;
}
.help .phone {
	position: relative;
	padding: 11px 0 11px 62px;
	border-top: 1px dashed #bfbfbf;
}
.help .phone p {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
}
.help .phone p:first-child {
	margin-bottom: 2px;
	font-size: 11px;
	line-height: 11px;
	font-weight: 400;
}
.help .phone i {
	position: absolute;
	top: 0;
	left: 0;
	width: 62px;
	height: 60px;
	font-size: 28px;
	line-height: 58px;
	text-align: center;	
}
.help .finder {
	padding: 20px 0 20px 66px;
	border-top: 1px dashed #bfbfbf;
	background: url(../img/help/finder.png) 18px 50% no-repeat;
	font-size: 18px;
	line-height: 18px;
}


/**/
/* logo */
/**
.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 116px;
	border-right: 1px dashed #8c8c8c;
	font-size: 0;
	text-align: center;
}
.logo span {
	display: table-cell;
	width: 116px;
	height: 54px;	
	vertical-align: middle;
}
.logo img {
	position: relative;
	top: 2px;
}

*/
/**/
/* products nav */
/**/
.products-nav {
	position: absolute;
	top: 50%;
	left: 127px;
	margin-top: -27px;
}
.products-nav .lv1 {
	display: block;
	float: left;
	font-size: 11px;
	line-height: 54px;
	font-weight: 700;
	text-transform: uppercase;
}
.products-nav .lv1 > a {
	display: block;
	padding: 0 24px;
	text-decoration: none;
	color: #fff;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
.products-nav .lv1 > div {
	position: absolute;
	z-index: 10;
	top: 54px;
	left: -9999px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 3px 3px rgba(0,0,0,0.15);
	opacity: 0;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.products-nav .lv1:hover > a {
	background: #fff;
	color: #262626;
}
.products-nav .lv1:hover > div {
	display: block;
	opacity: 1;
}
.products-nav .lv2 {
	margin: 24px 0 6px;
	padding: 6px 24px;
	line-height: 18px;
}
.products-nav .lv2:first-child {
	margin-top: 0;
}
.products-nav .lv2 a {
	color: #262626;
}
.products-nav .lv3 {
	padding: 6px 24px;
	line-height: 14px;
	font-weight: 400;
	text-transform: none;
}
.products-nav .lv3 a {
	color: #262626;
}
.products-nav .single-col {
	position: relative;
}
.products-nav .single-col ul {
	padding: 12px 0;
	border-top: 1px dashed #737373;
}
.products-nav .single-col ul:first-child {
	border-top: 0;
}
.products-nav .single-col div {
	min-width: 200px;
}
.products-nav .single-col:hover div {
	left: 0;	
}
.products-nav .double-col {
	position: relative;
}
.products-nav .double-col div {
	width: 318px;
}
.products-nav .double-col ul {
	display: block;
	float: left;
	width: 150px;
	margin-left: 18px;
	padding: 12px 0;
}
.products-nav .double-col ul:first-child {
	margin-left: 0;
}
.products-nav .double-col:hover div {
	left: 0;
}
.products-nav .triple-col {
	position: relative;
}
.products-nav .triple-col div {
	width: 486px;
}
.products-nav .triple-col ul {
	display: block;
	float: left;
	width: 150px;
	margin-left: 18px;
	padding: 12px 0;
}
.products-nav .triple-col ul:first-child {
	margin-left: 0;
}
.products-nav .triple-col:hover div {
	left: 0;
}
.products-nav .multi-col > div {
	width: 990px;
}
.products-nav .multi-col > div > ul {
	display: block;
	float: left;
	width: 150px;
	margin-left: 18px;
	padding: 12px 0;
}
.products-nav .multi-col > div > ul:first-child {
	margin-left: 0;
}
.products-nav .multi-col:hover > div {
	left: -127px;	
}
.products-nav .popular-products {
	position: relative;
	float: right;
	width: 317px;
	overflow: hidden;
	margin-left: 1px;
	padding: 12px 0;
	border-left: 1px dashed #737373;
}
.products-nav .popular-products .next {
	position: absolute;
	top: 22px;
	right: 24px;
	overflow: hidden;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #404040;
	cursor: pointer;
}
.products-nav .popular-products .next:hover {
	border-left-color: #c40303;
}
.products-nav .popular-products .prev {
	position: absolute;
	top: 22px;
	right: 44px;
	border-top: 5px solid transparent;
	border-right: 10px solid #404040;
	border-bottom: 5px solid transparent;
	cursor: pointer;
}
.products-nav .popular-products .prev:hover {
	border-right-color: #c40303;
}
.products-nav .products-grid {
	position: relative;
	width: 234px;
	height: 312px;
	margin: 12px auto 0;
	line-height: normal;
	text-transform: none;
}
.products-nav .products-grid > li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	margin: 0;
	opacity: 0;
}
.products-nav .products-grid > .active {
	display: block;
	opacity: 1;
}


/**/
/* search */
/**/
.search .switcher {
	position: absolute;
	top: 50%;
	right: 12px;
	width: 27px;
	height: 27px;
	overflow: hidden;
	margin-top: -13px;
	background: url(../img/search/switcher.png) no-repeat 0 0;
}
.search .switcher a {
	position: absolute;
	top: 0;
	display: block;
	width: 27px;
	height: 27px;
}
.search .switcher button {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 27px;
	height: 27px;	
}
.search .switcher .open {
	left: 0;
}
.search .switcher .close {
	right: 0;
}
.search .form {
	position: absolute;
	top: 50%;
	left: 127px;
	margin-top: -54px;
	display: none;
}
.search .keywords {
	float: left;
	width: 600px;
	height: 48px;
	padding: 30px 0px 30px 40px;
	background: url(../img/search/keywords.png) no-repeat 0 0;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	color: #d9d6d6;
}
.search .filter {
	display: block;
	float: left;
	width: 56px;
	height: 48px;
	margin-top: 30px;
	border-left: 1px dashed #4d4d4d;
}
.search .filter dt {
	padding: 32px 0 3px;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.search .filter dt:hover {
	text-decoration: underline;
}
.search .filter dd {
	position: absolute;
	z-index: 1;
	top: 100%;
	display: none;
	margin-top: 1px;
	padding: 18px 12px;
	border-radius: 4px;
	background: rgba(38,38,38,.95);
	font-size: 0;
	white-space: nowrap;
}
.search .filter dd:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 50%;
	width: 26px;
	height: 1px;
	margin-left: -13px;
	background: rgba(38,38,38,.95);
}
.search .filter-alpha {
	border: none;
}
.search .filter-omega {
	margin-right: 10px;
}
.search .filter-color dt {
	background: url(../img/search/filter-color.png) no-repeat 50% 3px;
}
.search .filter-color dd {
	margin-left: -127px;
}
.search .filter-color dd:after {
	left: 142px;
	margin-left: 0;
}
.search .filter-color dd a {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 8px;
	margin: 0 8px;
}
.search .filter-color dd a:hover:after,
.search .filter-color dd a.active:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 18px;
	height: 10px;
	border: 1px solid #a6a6a6;
}
.search .filter-price {
	position: relative;
}
.search .filter-price dt {
	background: url(../img/search/filter-price.png) no-repeat 50% 4px;
}
.search .filter-price dd {
	left: 50%;
	width: 210px;
	padding: 18px 17px;
	margin: 31px 0 0 -119px;
}
.search .filter-price .slider {
	z-index: 2;
}
.search .filter-price .range {
	margin: 10px -6px -8px;
	font-size: 11px;
	line-height: 13px;
	color: #b1b1b1;
}
.search .filter-price .range span {
	float: right;
}


/**/
/* benefits */
/**/
.benefits {
	height: 36px;
	margin: 18px 0;
	color: #5e5e5e;
}
.benefits li {
	position: relative;
	display: block;
	float: left;
	margin-left: 66px;
	padding: 4px 0;
	font-size: 12px;
	line-height: 14px;
}
.benefits li:before {
	content: ' ';
	position: absolute;
	left: -38px;
	top: -5px;
	display: block;
	width: 8px;
	height: 46px;
	border-right: 1px dashed #bfbfbf;
	border-left: 1px dashed #bfbfbf;
}
.benefits li:first-child {
	margin-left: 0;
}
.benefits li:first-child:before {
	display: none;
}
.benefits .fs {
	padding-left: 36px;
	background: url(../img/benefits/fs.png) no-repeat 0 3px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
}
.benefits .fs span {
	color: #c40303;
}
.benefits .lp {
	padding-left: 36px;
	background: url(../img/benefits/lp.png) no-repeat 0 4px;	
}
.benefits .gc {
	padding-left: 35px;
	background: url(../img/benefits/gc.png) no-repeat 0 4px;	
}
.benefits .mb {
	padding-left: 37px;
	background: url(../img/benefits/mb.png) no-repeat 0 6px;	
}
.benefits a {
	text-decoration: none;
	color: #262626;
}
.benefits a:hover {
	text-decoration: underline;
}


