/**/
/* forms */
/**/
.input,
.select,
.textarea,
.radio,
.checkbox,
.button {
	position: relative;
	display: block;
}
.input input,
.select select,
.textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 36px;
	padding: 6px 10px 5px;
	border: 1px solid #c3c3c3;
	border-radius: 3px;
	background: #fff;
	font-size: 14px;
	line-height: 19px;
	color: #3d3d3d;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.select i {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	border-top: 5px solid #3d3d3d;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
}
.textarea textarea {
	height: auto;
	resize: none;
}
.radio,
.checkbox {
	font-size: 14px;
	line-height: 30px;
	padding-left: 26px;
	cursor: pointer;
}
.radio input,
.checkbox input {
	position: absolute;
	left: -9999px;
}
.radio i,
.checkbox i {
	position: absolute;
	top: 7px;
	left: 0;
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid #808080;
	border-radius: 50%;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.checkbox i {
	border-radius: 3px;
}
.radio input:checked + i:after,
.checkbox input:checked + i:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	border-radius: 50%;
	background: #ffa800;
}
.checkbox input:checked + i:after {
	content: '\2713';
	width: 14px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: none;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #ffa800;
}
.rating {
	font-size: 11px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}
.rating input {
	position: absolute;
	left: -9999px;
}
.rating label {
	display: block;
	float: right;
	height: 18px;
	margin-top: 8px;
	padding: 0 1px;
	font-size: 18px;
	line-height: 18px;
	color: #939393;
	cursor: pointer;
}
.rating input + label:hover,
.rating input + label:hover ~ label,
.rating input:checked ~ label {
	color: #c40303;
}
.button {
	float: right;
	height: 48px;
	padding: 0 36px;
	border-radius: 4px;
	background: #ffa800;
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	font-stretch: condensed;
	text-align: center;
	text-transform: uppercase;
               text-decoration: none;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	-o-transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
.button:hover {
	/*background: #000;*/
	text-decoration: none;
        color:#fff;
}
.button-small {
	height: 36px;
	padding: 0 24px;
	line-height: 36px;
}
.button-secondary {
	background: #009dd9;
        /*background: #9e3151;*/
	color: #fff;
}
.button-secondary:hover {
	background: #009dd9;
        color:#fff;
        /*background: #9e3151;*/
}
.label {
	display: block;
	font-size: 11px;
	line-height: 36px;
	font-weight: 700;
	/*text-transform: uppercase;*/
	color: #000;
}
.label span {
	color: #f00000;
}

.form .intro {
	margin-bottom: 18px;
	font-size: 15px;
	line-height: 18px;
}
.form .input,
.form .select,
.form .textarea,
.form .section {
	margin-bottom: 18px;	
}
.form .radio,
.form .checkbox {
	float: left;
	margin: 0 36px 0 0;
}
